#ju_landing{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    .ju-container{
        max-width: calc(55.625em - 2em);
        width: calc(100% - 2em);
        padding: 0 1em;
        margin: 0 auto;
        padding-top: 0.1px;
    }
    .category-container{
        .banner{
            .ju-container{
                min-height: 300px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .content{
                    width: 30%;
                    h3{
                        max-width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .product{
                        position: relative;
                        >a{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .name{
                            font-size: 1.5em;
                            font-weight: 300;
                            text-transform: uppercase;
                            color: white;
                            line-height: 1;
                            display: block;
                        }
                        .price{
                            font-size: 1.5em;
                            font-weight: 700;
                            color: white;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .products{
            position: relative;
            nav{
                >div{
                    position: absolute;
                    top: 50%;
                    width: 1.4375em;
                    height: 2.5em;
                    @media(max-width: 639px){
                        font-size: 0.8em;
                    }
                    a{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                    }
                }
                .prev{
                    left: 0;
                    background-image: url(../images/arrow-left.png); 
                    background-size: 100%;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        left: 0.5em;
                    }
                    a{}
                }
                .next{
                    right: 0;
                    background-image: url(../images/arrow-right.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        right: 0.5em;
                    }
                    a{

                    }
                }
            }
            .bx-wrapper{
                box-shadow: none;
                margin-top: 2em;
                margin-bottom: 2em;
            }
            .carousel-container{
                article{
                    padding: 1em;
                    position: relative;
                    >a{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    figure{
                        img{
                            border-radius: 2em;
                            width: 100%;
                        }
                    }
                    .content{
                        padding: 0 1em;
                        margin-top: .75em;
                        h4{
                            font-size: 1.125em;
                            font-weight: 300;
                            color: $gray;
                            margin: 0 0 0 0;
                            line-height: 1;
                            display: inline-block;
                        }
                        span{
                            font-size: 1.5em;
                            font-weight: 700;
                            color: $yellow;
                            margin: 0 0 0 0;
                            line-height: 1;
                            margin-top: 0.25rem;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}