body{
    margin: 0;
}
#ju_landing{
    font-size: 16px;
    $position-desktop: 100px;
    $position-mobile: -20px;
    .category-container{
        &#parkas_fashion{
            .banner{
                background-color: #e9e9e9; 
                .ju-container{
                    background-image: url(../images/bg-fashion.jpg);
                    background-size: auto 100%;
                    background-position-x: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: $position-mobile;
                    }
                    .content{
                        .product{
                            .name{
                                color: $gray;
                            }
                            .price{
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
        &#parkas_contrastes{
            .banner{
                background-color: #d8a532;
                .ju-container{
                    background-image: url(../images/bg-contraste.jpg);
                    background-size: auto 100%;
                    background-position-x: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: calc(#{$position-mobile} - 60px);
                    }
                }
            }
        }
        &#chaquetas_bonded{
            .banner{
                background-color: #3b5c9a;
                .ju-container{
                    background-image: url(../images/bg-bonded.jpg);
                    background-size: auto 100%;
                    background-position: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: $position-mobile;
                    }
                }
            }
        }
        &#category_abrigos{
            .banner{
                background-color: #525252;
                .ju-container{
                    background-image: url(../images/bg-abrigos.jpg);
                    background-size: auto 100%;
                    background-position-x: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: $position-mobile;
                    }
                }
            }
        }
        &#parkas_hombre{
            .banner{
                background-color: #e8e8e8;
                .ju-container{
                    background-image: url(../images/bg-hombre.jpg);
                    background-size: auto 100%;
                    background-position-x: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: calc(#{$position-mobile} - 80px);
                    }
                    .content{
                        .product{
                            .name{
                                color: $gray;
                            }
                            .price{
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
        &#parkas_ninos{
            .banner{
                background-color: #daa526;
                .ju-container{
                    background-image: url(../images/bg-ninos.jpg);
                    background-size: auto 100%;
                    background-position-x: $position-desktop;
                    background-repeat: no-repeat;
                    @media(max-width: 639px){
                        background-position-x: calc(#{$position-mobile} - 80px);
                    }
                }
            }
        }
    }
}