// RESETS
#ju_landing{
    body, h1, h2, h3, h4, h5, h6 , p, a, span, ul, li, input, textarea, select{
        font-family: $tipografia-principal;
    }
    input[type="text"], input[type="password"], input[type="submit"], button, select, button{
        -webkit-appearance: none;
        border-radius: 0;
    }
    body,html{
        font-size: 16px;
        position: relative;
        overflow-x: hidden;
        width: 100%
    }
    html{
    }
    body{
        margin: 0;
    }
    figure{
        margin: 0;
    }
    img{
        -webkit-backface-visibility: hidden;
        -ms-transform: translateZ(0); /* IE 9 */
        -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
        transform: translateZ(0);
    }
    li{
        list-style-type: none;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    button{
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}