#ju_landing{
    #ju_hero{
        background-image: url(../images/bg-hero-02.png);
        background-size: auto 100%;
        background-position: top center;
        background-repeat: no-repeat; 
        background-color: #7f8482;
        @media(max-width: 639px){
            background-position: initial;
            background-position-x: 66.6%;
        }
        .ju-container{
            display: flex;
            justify-content: flex-end;
            .content{
                width: 30%;
                @media(max-width: 639px){
                    width: 70%;
                    padding-top: 1.5em;
                    padding-bottom: 1.5em;
                }
                h2{
                    text-align: right;
                    img{
                        max-width: 100%;
                    }
                }
                h3{
                    text-align: right;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    #ju_header{
        background: white;
        .ju-container{
            ul{
                line-height: 1;
                display: flex;
                justify-content: space-between;
                li{
                    display: inline-block;
                    line-height: 1;
                    border-left: 1px solid #e7e7e7;
                    text-align: center;
                    width: 20%;
                    display: flex;
                    align-items: center;
                    &:last-of-type{
                        border-right: 1px solid #e7e7e7;
                    }
                    a{
                        display: inline-block;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $gray;
                        font-weight: 700;
                        line-height: 1;
                        padding: 1em;
                        width: 100%;
                        padding: 0.75em 0;
                    }
                }
            }
            @media(max-width: 991px){
                ul{
                    flex-wrap: wrap;
                    justify-content: center;
                    border-bottom: 1px solid #ccc;
                    li{
                        border: none;
                        width: initial;
                        &:last-of-type{
                            border: none;
                        }
                        a{
                            padding: 0.75em 1em;
                        }
                    }
                }
            }
        }
    }
}