#ju_landinga{
    .ju-sectiona{
        position: relative;
        .ju-container{
            position: relative;
            .overlay-model{
                position: absolute;
                height: 394px;
                left: calc(100% - 5em);
                z-index: 3;
                top: 3em;
                @media(max-width: 991px){
                    display: none;
                }
                img{
                    height: 100%;
                    width: auto;
                    transform: scale(1.2);
                }
            }
        }
        .ju-bannera{
            opacity: 0;
            transform: translateX(100px);
            transition: all .5s cubic-bezier(.22,.61,.36,1);
            &.animated{
                opacity: 1;
                transform: translateX(0);
            }
        }
        .ju-carousela{
            article{
                /* opacity: 0;
                transform: translateY(100px); */
            }
            &.animated{
                article{
                    opacity: 0;
                    transform: translateY(100px);
                    &:nth-of-type(1){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 0s 1 forwards;
                    }
                    &:nth-of-type(2){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 0.4s 1 forwards;
                    }
                    &:nth-of-type(3){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 0.6s 1 forwards;
                    }
                    &:nth-of-type(4){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 0.8s 1 forwards;
                    }
                    &:nth-of-type(5){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 1s 1 forwards;
                    }
                    &:nth-of-type(6){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 1.2s 1 forwards;
                    }
                    &:nth-of-type(7){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 1.4s 1 forwards;
                    }
                    &:nth-of-type(8){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 1.6s 1 forwards;
                    }
                    &:nth-of-type(9){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 1.8s 1 forwards;
                    }
                    &:nth-of-type(10){
                        animation: carousel_item .9s cubic-bezier(.22,.61,.36,1) 2s 1 forwards;
                    }
                    &:nth-of-type(n+10){
                        opacity: 1;
                        transform: translateY(0);
                    }
                    @keyframes carousel_item {
                        0%{
                            opacity: 0;
                            transform: translateY(100px);
                        }100%{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}